.app-content-code-snippet {

  &__copy {
    float: right;
    padding: 8px;

    .mat-icon-button {
      opacity: 0.6;
    }
  }

  &__code {
    padding: 20px;
    background: rgba(0, 0, 0, 0.01);

    pre {
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      white-space: pre-wrap;
    }
  }
}
