@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-green, 400);
$warn: mat-palette($mat-grey);

$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

// Include the default theme styles (color and default density)
@include angular-material-theme($theme);
