:host {
  display: block;

  .mat-icon-button {
    opacity: 0.6;
  }

}

.app-content-example-viewer {

  &-wrapper {
    margin: 24px 0;
  }

  &__header {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 8px 8px 8px 16px;
  }

  &__title {
    flex: 1 1 auto;
    font-size: 16px;
  }

  &__body {
    padding: 0 30px;
  }

  &__source {
    ::ng-deep .mat-tab-label {
      text-transform: uppercase;
    }
  }
}
